@charset "UTF-8";
body {
  font-family: arial,sans-serif;
  line-height: 24px;
  font-size: 13px; }

header {
  float: right;
  padding-right: 5px; }

header div {
  display: inline-block;
  margin: -6px 5px; }

header a {
  color: black;
  text-decoration: none;
  opacity: .55; }

.header_app {
  height: 30px;
  position: relative; }

.header_app_1 {
  position: absolute;
  width: 320px;
  max-height: 456px;
  left: -210px;
  top: 47px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .header_app_1 a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1; }
  .header_app_1 span {
    width: 64px;
    height: 64px;
    background-image: url("img/app.png");
    background-repeat: no-repeat;
    display: block; }
  .header_app_1 ul {
    margin-left: -46px; }
  .header_app_1 li {
    width: 84px;
    height: 84px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #fff; }
    .header_app_1 li:hover {
      border: 1px solid #ccc;
      border-radius: 1px; }
    .header_app_1 li.app_1 span {
      background-position: 10px -1242px; }
    .header_app_1 li.app_2 span {
      background-position: 10px -2001px; }
    .header_app_1 li.app_3 span {
      background-position: 10px -621px; }
    .header_app_1 li.app_4 span {
      background-position: 10px -966px; }
    .header_app_1 li.app_5 span {
      background-position: 10px -483px; }
    .header_app_1 li.app_6 span {
      background-position: 10px -690px; }
    .header_app_1 li.app_7 span {
      background-position: 10px -1035px; }
    .header_app_1 li.app_8 span {
      background-position: 10px -897px; }
    .header_app_1 li.app_9 span {
      background-position: 10px -1794px; }
    .header_app_1 li.app_10 span {
      background-position: 10px -414px; }
    .header_app_1 li.app_11 span {
      background-position: 10px -1104px; }
    .header_app_1 li.app_12 span {
      background-position: 10px -69px; }
    .header_app_1 li.app_13 span {
      background-position: 10px -1656px; }
    .header_app_1 li.app_14 span {
      background-position: 10px -2070px; }
    .header_app_1 li.app_15 span {
      background-position: 10px -276px; }
    .header_app_1 li.app_16 span {
      background-position: 10px -1449px; }
    .header_app_1 li.app_17 span {
      background-position: 10px -1311px; }
    .header_app_1 li.app_18 span {
      background-image: url(//ssl.gstatic.com/gb/images/a/911e3628e6.png); }
  .header_app_1 label {
    width: 100%;
    background-color: #f5f5f5;
    opacity: 1; }

.hide,
.hide + label ~ div {
  display: none; }

/* вид текста label */
.hide + label {
  margin: -10px auto;
  padding: 0;
  color: #737373;
  cursor: pointer;
  display: inline-block;
  opacity: .55; }
  .hide + label:hover {
    opacity: 1; }

/* вид текста label при активном переключателе */
.hide:checked + label + div {
  display: block;
  -webkit-animation: fade ease-in 0.2s;
  -moz-animation: fade ease-in 0.2s;
  animation: fade ease-in 0.2s; }

@-moz-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hide + label:before {
  background-image: url(img/icon.png);
  display: block;
  height: 30px;
  width: 30px;
  content: ' ';
  background-position: -132px 30px; }

.header_app_2 {
  margin: 0; }

#hd-2 + label:before {
  display: none; }

.gb_lb {
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  left: 0;
  z-index: 1;
  height: 0;
  width: 0;
  -webkit-animation: gb__a .2s;
  animation: gb__a .2s;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: 38px; }

.gb_kb {
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 1;
  height: 0;
  width: 0;
  -webkit-animation: gb__a .2s;
  animation: gb__a .2s; }

.header_notification {
  background-image: url(img/icon.png);
  display: inline-block;
  height: 20px;
  width: 20px;
  content: ' ';
  background-position: -194px -21px;
  background-color: black;
  border-radius: 50%;
  opacity: .55;
  cursor: pointer; }
  .header_notification:hover {
    opacity: 1; }

.header_account {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #7b1fa2;
  margin: 10px;
  border-radius: 50%;
  padding: 5px 10px;
  box-sizing: border-box; }
  .header_account a {
    color: #ffffff;
    opacity: 1;
    font-size: 17px; }

.general {
  clear: both;
  padding-top: 150px; }

.title {
  width: 272px;
  height: 92px;
  margin: 0 auto;
  background: no-repeat url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
  position: relative; }
  .title p {
    position: absolute;
    bottom: -16px;
    right: -24px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif; }

.search {
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 25px auto;
  width: 584px; }
  .search input {
    border: none;
    height: 34px;
    width: 463px;
    display: inline-block;
    font: 16px arial,sans-serif; }
  .search .tool {
    display: inline-block; }
    .search .tool .key {
      display: inline-block;
      padding: 10px;
      margin: -7px;
      height: 23px;
      width: 18px;
      overflow: hidden;
      background: url(data:image/gif;base64,R0lGODlhEwALAKECAAAAABISEv///////yH5BAEKAAIALAAAAAATAAsAAAIdDI6pZ+suQJyy0ocV3bbm33EcCArmiUYk1qxAUAAAOw==) no-repeat center; }
    .search .tool .mic {
      display: inline-block;
      padding: 10px;
      margin: -7px;
      overflow: hidden; }
      .search .tool .mic img {
        height: 24px;
        width: 24px; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAic3R5bGUuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSJzdHlsZS5zY3NzIgoJXSwKCSJuYW1lcyI6IFtdLAoJIm1hcHBpbmdzIjogIjtBQUFBLEFBQUEsSUFBSSxDQUFDO0VBQ0gsV0FBVyxFQUFFLGdCQUFnQjtFQUM3QixXQUFXLEVBQUUsSUFBSTtFQUNqQixTQUFTLEVBQUUsSUFBSSxHQUNoQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNMLEtBQUssRUFBRSxLQUFLO0VBQ1osYUFBYSxFQUFFLEdBQUcsR0FDbkI7O0FBRUQsQUFBTyxNQUFELENBQUMsR0FBRyxDQUFDO0VBQ1QsT0FBTyxFQUFFLFlBQVk7RUFDckIsTUFBTSxFQUFFLFFBQVEsR0FDakI7O0FBRUQsQUFBTyxNQUFELENBQUMsQ0FBQyxDQUFDO0VBQ1AsS0FBSyxFQUFFLEtBQUs7RUFDWixlQUFlLEVBQUUsSUFBSTtFQUNyQixPQUFPLEVBQUUsR0FBRyxHQUNiOztBQUVELEFBQUEsV0FBVyxDQUFDO0VBQ1YsTUFBTSxFQUFFLElBQUk7RUFDWixRQUFRLEVBQUUsUUFBUSxHQUNuQjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNaLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLEtBQUssRUFBRSxLQUFLO0VBQ1osVUFBVSxFQUFFLEtBQUs7RUFDakIsSUFBSSxFQUFFLE1BQU07RUFDWixHQUFHLEVBQUUsSUFBSTtFQUNULE1BQU0sRUFBRSxjQUFjO0VBQ3RCLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLGFBQWEsRUFBRSxHQUFHO0VBQ2xCLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLGVBQWUsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLElBQUksQ0FBQyxrQkFBYztFQUMxQyxrQkFBa0IsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLElBQUksQ0FBQyxrQkFBYztFQUM3QyxVQUFVLEVBQUUsQ0FBQyxDQUFDLEdBQUcsQ0FBQyxJQUFJLENBQUMsa0JBQWMsR0EwRnRDO0VBdkdELEFBY0ksYUFkUyxDQWNULENBQUMsQ0FBQztJQUNGLE9BQU8sRUFBRSxLQUFLO0lBQ2QsS0FBSyxFQUFFLElBQUk7SUFDWCxNQUFNLEVBQUUsSUFBSTtJQUNaLE9BQU8sRUFBRSxDQUFDLEdBRVg7RUFwQkgsQUFxQkksYUFyQlMsQ0FxQlQsSUFBSSxDQUFDO0lBQ0osS0FBSyxFQUFFLElBQUk7SUFDWCxNQUFNLEVBQUUsSUFBSTtJQUNaLGdCQUFnQixFQUFFLGtCQUFrQjtJQUNwQyxpQkFBaUIsRUFBRSxTQUFTO0lBQzVCLE9BQU8sRUFBRSxLQUFLLEdBQ2Y7RUEzQkosQUE0QkksYUE1QlMsQ0E0QlQsRUFBRSxDQUFDO0lBQ0gsV0FBVyxFQUFFLEtBQUssR0FDbkI7RUE5QkgsQUErQkksYUEvQlMsQ0ErQlQsRUFBRSxDQUFDO0lBQ0gsS0FBSyxFQUFFLElBQUk7SUFDWCxNQUFNLEVBQUUsSUFBSTtJQUNaLE9BQU8sRUFBRSxZQUFZO0lBQ3JCLFVBQVUsRUFBRSxNQUFNO0lBQ2xCLFVBQVUsRUFBRSxVQUFVO0lBQ3RCLE1BQU0sRUFBRSxjQUFjLEdBNER2QjtJQWpHSCxBQStCSSxhQS9CUyxDQStCVCxFQUFFLEFBUUYsTUFBTyxDQUFDO01BQ04sTUFBTSxFQUFFLGNBQWM7TUFDdEIsYUFBYSxFQUFFLEdBQUcsR0FDbkI7SUExQ0wsQUEyQ1ksYUEzQ0MsQ0ErQlQsRUFBRSxBQVlGLE1BQU8sQ0FBQyxJQUFJLENBQUM7TUFDWCxtQkFBbUIsRUFBRSxZQUFZLEdBQ2xDO0lBN0NMLEFBOENZLGFBOUNDLENBK0JULEVBQUUsQUFlRixNQUFPLENBQUMsSUFBSSxDQUFDO01BQ1gsbUJBQW1CLEVBQUUsWUFBWSxHQUNsQztJQWhETCxBQWlEWSxhQWpEQyxDQStCVCxFQUFFLEFBa0JGLE1BQU8sQ0FBQyxJQUFJLENBQUM7TUFDWCxtQkFBbUIsRUFBRSxXQUFXLEdBQ2pDO0lBbkRMLEFBb0RZLGFBcERDLENBK0JULEVBQUUsQUFxQkYsTUFBTyxDQUFDLElBQUksQ0FBQztNQUNYLG1CQUFtQixFQUFFLFdBQVcsR0FDakM7SUF0REwsQUF1RFksYUF2REMsQ0ErQlQsRUFBRSxBQXdCRixNQUFPLENBQUMsSUFBSSxDQUFDO01BQ1gsbUJBQW1CLEVBQUUsV0FBVyxHQUNqQztJQXpETCxBQTBEWSxhQTFEQyxDQStCVCxFQUFFLEFBMkJGLE1BQU8sQ0FBQyxJQUFJLENBQUM7TUFDWCxtQkFBbUIsRUFBRSxXQUFXLEdBQ2pDO0lBNURMLEFBNkRZLGFBN0RDLENBK0JULEVBQUUsQUE4QkYsTUFBTyxDQUFDLElBQUksQ0FBQztNQUNYLG1CQUFtQixFQUFFLFlBQVksR0FDbEM7SUEvREwsQUFnRVksYUFoRUMsQ0ErQlQsRUFBRSxBQWlDRixNQUFPLENBQUMsSUFBSSxDQUFDO01BQ1gsbUJBQW1CLEVBQUUsV0FBVyxHQUNqQztJQWxFTCxBQW1FWSxhQW5FQyxDQStCVCxFQUFFLEFBb0NGLE1BQU8sQ0FBQyxJQUFJLENBQUM7TUFDWCxtQkFBbUIsRUFBRSxZQUFZLEdBQ2xDO0lBckVMLEFBc0VhLGFBdEVBLENBK0JULEVBQUUsQUF1Q0YsT0FBUSxDQUFDLElBQUksQ0FBQztNQUNaLG1CQUFtQixFQUFFLFdBQVcsR0FDakM7SUF4RUwsQUF5RWEsYUF6RUEsQ0ErQlQsRUFBRSxBQTBDRixPQUFRLENBQUMsSUFBSSxDQUFDO01BQ1osbUJBQW1CLEVBQUUsWUFBWSxHQUNsQztJQTNFTCxBQTRFYSxhQTVFQSxDQStCVCxFQUFFLEFBNkNGLE9BQVEsQ0FBQyxJQUFJLENBQUM7TUFDWixtQkFBbUIsRUFBRSxVQUFVLEdBQ2hDO0lBOUVMLEFBK0VhLGFBL0VBLENBK0JULEVBQUUsQUFnREYsT0FBUSxDQUFDLElBQUksQ0FBQztNQUNaLG1CQUFtQixFQUFFLFlBQVksR0FDbEM7SUFqRkwsQUFrRmEsYUFsRkEsQ0ErQlQsRUFBRSxBQW1ERixPQUFRLENBQUMsSUFBSSxDQUFDO01BQ1osbUJBQW1CLEVBQUUsWUFBWSxHQUNsQztJQXBGTCxBQXFGYSxhQXJGQSxDQStCVCxFQUFFLEFBc0RGLE9BQVEsQ0FBQyxJQUFJLENBQUM7TUFDWixtQkFBbUIsRUFBRSxXQUFXLEdBQ2pDO0lBdkZMLEFBd0ZhLGFBeEZBLENBK0JULEVBQUUsQUF5REYsT0FBUSxDQUFDLElBQUksQ0FBQztNQUNaLG1CQUFtQixFQUFFLFlBQVksR0FDbEM7SUExRkwsQUEyRmEsYUEzRkEsQ0ErQlQsRUFBRSxBQTRERixPQUFRLENBQUMsSUFBSSxDQUFDO01BQ1osbUJBQW1CLEVBQUUsWUFBWSxHQUNsQztJQTdGTCxBQThGYSxhQTlGQSxDQStCVCxFQUFFLEFBK0RGLE9BQVEsQ0FBQyxJQUFJLENBQUM7TUFDWixnQkFBZ0IsRUFBRSxpREFBaUQsR0FDcEU7RUFoR0wsQUFrR0ksYUFsR1MsQ0FrR1QsS0FBSyxDQUFDO0lBQ04sS0FBSyxFQUFFLElBQUk7SUFDWCxnQkFBZ0IsRUFBRSxPQUFPO0lBQ3pCLE9BQU8sRUFBRSxDQUFDLEdBQ1g7O0FBR0gsQUFBQSxLQUFLO0FBQ0wsQUFBZ0IsS0FBWCxHQUFHLEtBQUssR0FBRyxHQUFHLENBQUM7RUFDbEIsT0FBTyxFQUFFLElBQUksR0FDZDs7QUFDRCwrQkFBK0I7QUFDL0IsQUFBUSxLQUFILEdBQUcsS0FBSyxDQUFDO0VBQ1osTUFBTSxFQUFFLFVBQVU7RUFDbEIsT0FBTyxFQUFFLENBQUM7RUFDVixLQUFLLEVBQUUsT0FBTztFQUNkLE1BQU0sRUFBRSxPQUFPO0VBQ2YsT0FBTyxFQUFFLFlBQVk7RUFDckIsT0FBTyxFQUFFLEdBQUcsR0FLYjtFQVhELEFBQVEsS0FBSCxHQUFHLEtBQUssQUFPWCxNQUFPLENBQUE7SUFDTCxPQUFPLEVBQUUsQ0FBQyxHQUNYOztBQUdILGtGQUFrRjtBQUtsRixBQUF3QixLQUFuQixBQUFBLFFBQVEsR0FBRyxLQUFLLEdBQUcsR0FBRyxDQUFDO0VBQzFCLE9BQU8sRUFBRSxLQUFLO0VBQ2QsaUJBQWlCLEVBQUMsaUJBQWlCO0VBQ25DLGNBQWMsRUFBQyxpQkFBaUI7RUFDaEMsU0FBUyxFQUFDLGlCQUFpQixHQUM1Qjs7QUFDRCxlQUFlLENBQWYsSUFBZTtFQUNiLEFBQUEsSUFBSTtJQUFHLE9BQU8sRUFBRSxDQUFDO0VBQ2pCLEFBQUEsRUFBRTtJQUFHLE9BQU8sRUFBRSxDQUFFOztBQUVsQixrQkFBa0IsQ0FBbEIsSUFBa0I7RUFDaEIsQUFBQSxJQUFJO0lBQUcsT0FBTyxFQUFFLENBQUM7RUFDakIsQUFBQSxFQUFFO0lBQUcsT0FBTyxFQUFFLENBQUU7O0FBRWxCLFVBQVUsQ0FBVixJQUFVO0VBQ1IsQUFBQSxJQUFJO0lBQUcsT0FBTyxFQUFFLENBQUM7RUFDakIsQUFBQSxFQUFFO0lBQUcsT0FBTyxFQUFFLENBQUU7O0FBRWxCLEFBQVEsS0FBSCxHQUFHLEtBQUssQUFBQSxPQUFPLENBQUM7RUFDbkIsZ0JBQWdCLEVBQUUsaUJBQWlCO0VBQ25DLE9BQU8sRUFBRSxLQUFLO0VBQ2QsTUFBTSxFQUFFLElBQUk7RUFDWixLQUFLLEVBQUUsSUFBSTtFQUNYLE9BQU8sRUFBRSxHQUFHO0VBQ1osbUJBQW1CLEVBQUUsV0FBVyxHQUNqQzs7QUFLRCxBQUFBLGFBQWEsQ0FBQztFQUNaLE1BQU0sRUFBRSxDQUFDLEdBQ1I7O0FBRUgsQUFBUSxLQUFILEdBQUcsS0FBSyxBQUFBLE9BQU8sQ0FBQztFQUNuQixPQUFPLEVBQUUsSUFBSSxHQUNkOztBQUVELEFBQUEsTUFBTSxDQUFDO0VBQ0wsWUFBWSxFQUFFLFdBQVc7RUFDekIsWUFBWSxFQUFFLG1CQUFtQjtFQUNqQyxZQUFZLEVBQUUsYUFBYTtFQUMzQixRQUFRLEVBQUUsUUFBUTtFQUNsQixJQUFJLEVBQUUsQ0FBQztFQUNQLE9BQU8sRUFBRSxDQUFDO0VBQ1YsTUFBTSxFQUFFLENBQUM7RUFDVCxLQUFLLEVBQUUsQ0FBQztFQUNSLGlCQUFpQixFQUFFLFNBQVM7RUFDNUIsU0FBUyxFQUFFLFNBQVM7RUFDcEIsbUJBQW1CLEVBQUUsSUFBSTtFQUN6QixtQkFBbUIsRUFBRSxrQkFBYztFQUNuQyxHQUFHLEVBQUUsSUFBSSxHQUNWOztBQUVELEFBQUEsTUFBTSxDQUFBO0VBQ0osWUFBWSxFQUFFLFdBQVc7RUFDekIsbUJBQW1CLEVBQUUsSUFBSTtFQUN6QixZQUFZLEVBQUUsbUJBQW1CO0VBQ2pDLFlBQVksRUFBRSxhQUFhO0VBQzNCLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLElBQUksRUFBRSxDQUFDO0VBQ1AsR0FBRyxFQUFFLElBQUk7RUFDVCxPQUFPLEVBQUUsQ0FBQztFQUNWLE1BQU0sRUFBRSxDQUFDO0VBQ1QsS0FBSyxFQUFFLENBQUM7RUFDUixpQkFBaUIsRUFBRSxTQUFTO0VBQzVCLFNBQVMsRUFBRSxTQUFTLEdBQ3JCOztBQUtELEFBQUEsb0JBQW9CLENBQUM7RUFDbkIsZ0JBQWdCLEVBQUUsaUJBQWlCO0VBQ25DLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLE1BQU0sRUFBRSxJQUFJO0VBQ1osS0FBSyxFQUFFLElBQUk7RUFDWCxPQUFPLEVBQUUsR0FBRztFQUNaLG1CQUFtQixFQUFFLFlBQVk7RUFDakMsZ0JBQWdCLEVBQUUsS0FBSztFQUN2QixhQUFhLEVBQUUsR0FBRztFQUNsQixPQUFPLEVBQUUsR0FBRztFQUNaLE1BQU0sRUFBRSxPQUFPLEdBSWhCO0VBZEQsQUFXRSxvQkFYa0IsQUFXbEIsTUFBTyxDQUFDO0lBQ04sT0FBTyxFQUFFLENBQUMsR0FDWDs7QUFHSCxBQUFBLGVBQWUsQ0FBQztFQUNkLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLE1BQU0sRUFBRSxJQUFJO0VBQ1osS0FBSyxFQUFFLElBQUk7RUFDWCxnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLE1BQU0sRUFBRSxJQUFJO0VBQ1osYUFBYSxFQUFFLEdBQUc7RUFDbEIsT0FBTyxFQUFFLFFBQVE7RUFDakIsVUFBVSxFQUFFLFVBQVUsR0FNdkI7RUFkRCxBQVNFLGVBVGEsQ0FTYixDQUFDLENBQUM7SUFDQSxLQUFLLEVBQUUsT0FBTztJQUNkLE9BQU8sRUFBRSxDQUFDO0lBQ1YsU0FBUyxFQUFFLElBQUksR0FDaEI7O0FBS0gsQUFBQSxRQUFRLENBQUM7RUFDUCxLQUFLLEVBQUUsSUFBSTtFQUNYLFdBQVcsRUFBRSxLQUFLLEdBQ25COztBQUVELEFBQUEsTUFBTSxDQUFDO0VBQ0wsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsSUFBSTtFQUNaLE1BQU0sRUFBRSxNQUFNO0VBQ2QsVUFBVSxFQUFFLFNBQVMsQ0FBQyx1RkFBdUY7RUFDN0csUUFBUSxFQUFFLFFBQVEsR0FRbkI7RUFiRCxBQU1JLE1BTkUsQ0FNRixDQUFDLENBQUM7SUFDRixRQUFRLEVBQUUsUUFBUTtJQUNsQixNQUFNLEVBQUUsS0FBSztJQUNiLEtBQUssRUFBRSxLQUFLO0lBQ1osS0FBSyxFQUFFLE9BQU87SUFDZCxJQUFJLEVBQUUsMkNBQTJDLEdBQ2xEOztBQUdILEFBQUEsT0FBTyxDQUFDO0VBQ04sVUFBVSxFQUFFLE1BQU07RUFDbEIsTUFBTSxFQUFFLGNBQWM7RUFDdEIsT0FBTyxFQUFFLEdBQUc7RUFDWixNQUFNLEVBQUUsU0FBUztFQUNqQixLQUFLLEVBQUUsS0FBSyxHQWdDYjtFQXJDRCxBQU1JLE9BTkcsQ0FNSCxLQUFLLENBQUM7SUFDTixNQUFNLEVBQUUsSUFBSTtJQUNaLE1BQU0sRUFBRSxJQUFJO0lBQ1osS0FBSyxFQUFFLEtBQUs7SUFDWixPQUFPLEVBQUUsWUFBWTtJQUNyQixJQUFJLEVBQUUscUJBQXFCLEdBQzFCO0VBWkwsQUFhSSxPQWJHLENBYUgsS0FBSyxDQUFDO0lBQ04sT0FBTyxFQUFFLFlBQVksR0FzQnRCO0lBcENILEFBZ0JNLE9BaEJDLENBYUgsS0FBSyxDQUdILElBQUksQ0FBQztNQUNMLE9BQU8sRUFBRSxZQUFZO01BQ3JCLE9BQU8sRUFBRSxJQUFJO01BQ2IsTUFBTSxFQUFFLElBQUk7TUFDWixNQUFNLEVBQUUsSUFBSTtNQUNaLEtBQUssRUFBRSxJQUFJO01BQ1gsUUFBUSxFQUFFLE1BQU07TUFDaEIsVUFBVSxFQUFFLG1JQUFtSSxDQUFDLFNBQVMsQ0FBQyxNQUFNLEdBQ2pLO0lBeEJMLEFBeUJNLE9BekJDLENBYUgsS0FBSyxDQVlILElBQUksQ0FBQztNQUNMLE9BQU8sRUFBRSxZQUFZO01BQ3JCLE9BQU8sRUFBRSxJQUFJO01BQ2IsTUFBTSxFQUFFLElBQUk7TUFFWixRQUFRLEVBQUUsTUFBTSxHQUtqQjtNQW5DTCxBQStCUSxPQS9CRCxDQWFILEtBQUssQ0FZSCxJQUFJLENBTUYsR0FBRyxDQUFDO1FBQ0osTUFBTSxFQUFFLElBQUk7UUFDWixLQUFLLEVBQUUsSUFBSSxHQUNaIgp9 */